@import '../../sass/utils/variables';
@import '../../sass/utils/extendables';

.post-container {
    margin-top: 10px;
    width: 100% !important;

    .post-panel {
        @extend #panel-mixin;
        padding: 0;
        width: 70%;
        margin: 0 auto;

        iframe,
        img {
            margin: 0 auto 10px;
            height: 300px;
        }

        p {
            font-size: 1.2em;
        }

        iframe {
            width: 70%;
            height: 400px;
        }

        h1,
        time {
            margin-bottom: 7px !important;
        }

        time {
            color: white;
        }

        .post-like-container {
            button {
                background: none;
                border: none;
                outline: none;

                span {
                    color: $skyT;
                }

                p {
                    color: white;
                }

                &:hover {
                    span {
                        color: white;
                    }

                    p {
                        color: $skyT;
                    }
                }
            }
        }
    }

    .post-time {
        color: $sky;
    }
}

.comments-panel {
    @extend #panel-mixin;
    width: 70% !important;
    margin: 10px auto;

    .comment-time {
        font-size: 0.8em;
    }

    .comment {
        p {
            font-size: 1.2em;
        }
    }

    .delete-comment-button {
        background: none;
        border: none;
        color: $red;
    }
}

.add-comment-panel {
    @extend #panel-mixin;
    width: 70% !important;
    margin: 10px auto 0;

    textarea {
        width: 70%;
        max-width: 70%;
    }

    button.btn.btn-lg {
        background: $dark;
        color: $sky;

        &:hover {
            background: $sky;
            color: $dark;
        }
    }
}

.comment-header {
    border-bottom: 1px solid $purple;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: $purple;
}
@media screen and (max-width: 850px) {
    .post-container {
        .post-panel {
            width: 90%;

            iframe,
            img {
                width: 90%;
                height: 200px;
            }
        }
    }

    .comments-panel {
        width: 90% !important;
    }

    .add-comment-panel {
        width: 90% !important;

        textarea {
            width: 90%;
            max-width: 90%;
        }
    }
}
