<div class='post-container' compile>
    <div class='panel panel-default post-panel'>
        <div class='panel-heading text-center'>
            <h1 ng-bind='vm.post.title'></h1>
            <time class='block post-time' title='{{ vm.post.post_created_at | amDateFormat: "dddd, MMMM Do YYYY, h:mm a" }}'>
                {{ vm.post.post_created_at | amCalendar }}
            </time>
        </div>
        <div class='panel-body' ng-bind-html='vm.trustHTML(vm.post.content)'></div>
    </div>
</div>
<div class='panel panel-default comments-panel'>
    <div class='panel-heading text-center'>
        <h1>Comments</h1>
    </div>
    <div class='panel-body'>
        <section class='comments-section'>
            <div ng-repeat='comment in vm.comments | orderBy: "comment_created_at"' ng-if='vm.comments && vm.comments.length > 0'>
                <span class='comment' ng-class='$index % 2 === 0 ? "left" : "right"'>
                    <div class='comment-header text-center'>
                        <h4 class='block no-margin' ng-bind='comment.username'></h4>
                        <time class='block comment-time' title='{{ comment.comment_created_at | amDateFormat: "dddd, MMMM Do YYYY, h:mm a" }}'>
                            {{ comment.comment_created_at | amCalendar }}
                        </time>
                    </div>
                    <p class='block'>
                        {{comment.comment}}
                    </p>
                </span>
                <div class='clear'></div>
            </div>
            <div ng-if='!vm.comments || vm.comments.length < 1' class='text-center'>
                <h1>No comments have been submitted yet for this post.</h1>
            </div>
        </section>
    </div>
</div>

<div class='panel panel-default add-comment-panel' ng-if='vm.session !== null'>
    <div class='panel-heading text-center'>
        <h1>Add Comment</h1>
    </div>
    <div class='panel-body'>
        <section class='add-comment-section' ng-if='!vm.commenting'>
            <form ng-submit='vm.comment()' novalidate='novalidate'>
                <div class='comment-form'>
                    <div class='input-container'>
                        <div class='form-group text-center'>
                            <input type='text' class='form-control text-left' placeholder='Comment' name='comment' ng-model='vm.commentObj.comment' required/>
                        </div>
                        <div class='form-footer text-center'>
                            <button class='btn btn-lg' type='submit' ng-disabled='commentForm.$invalid || !vm.session'>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <div ng-if='vm.commenting'>
            <div class='loader comment-loader'></div>
            <div class='text-center'>
                <h5 class='loading-text'>
                    Adding comment...
                </h5>
            </div>
        </div>
    </div>
</div>
