<div class='panel panel-default modal-panel'>
    <div class='panel-heading text-center'>
        <h1>Update Password</h1>
        <button ng-click='vm.closeModal()'>
            <i class='fa fa-close'></i>
        </button>
    </div>
    <div class='panel-body text-center'>
        <form form-blur ng-submit='vm.updatePassword()' novalidate='novalidate'>
            <div class='password-update-form text-center'>
                <ng-form name='passwordUpdateForm'>
                    <div class='input-container'>
                        <div class='form-group'>
                            <label for='currentPassword' class='block'>Current Password</label>
                            <ng-messages class='block text-danger' for='passwordUpdateForm.password.$error' ng-show='passwordUpdateForm.password.$dirty'>
                                <ng-message when='required'>
                                    Cannot be blank
                                </ng-message>
                            </ng-messages>
                            <input type='password' class='form-control inline' placeholder='Current Password' name='currentPassword' ng-model='vm.currentPassword' required/>
                        </div>
                        <div class='form-group'>
                            <label for='password' class='block'>New Password</label>
                            <ng-messages class='block text-danger' for='passwordUpdateForm.password.$error' ng-show='passwordUpdateForm.password.$dirty'>
                                <ng-message when='required'>
                                    Cannot be blank
                                </ng-message>
                            </ng-messages>
                            <input type='password' class='form-control inline' placeholder='New Password' name='newPassword' ng-model='vm.newPassword' required/>

                        </div>
                        <div class='form-group'>
                            <label for='password' class='block'>Confirm New Password</label>
                            <ng-messages class='block text-danger' for='passwordUpdateForm.password.$error' ng-show='passwordUpdateForm.password.$dirty'>
                                <ng-message when='required'>
                                    Cannot be blank
                                </ng-message>
                            </ng-messages>
                            <input type='password' class='form-control inline' placeholder='Confirm New Password' name='confirmNewPassword' ng-model='vm.confirmNewPassword' required/>
                        </div>
                        <button class='btn btn-primary block center' type='submit' ng-disabled='passwordUpdateForm.$invalid'>
                            Update
                        </button>
                    </div>
                </ng-form>
            </div>
        </form>
    </div>
</div>
