<div class='panel panel-default modal-panel'>
    <div class='panel-heading text-center'>
        <h1>Forgot Password</h1>
        <button ng-click='vm.closeModal()'>
            <i class='fa fa-close'></i>
        </button>
    </div>
    <div class='panel-body text-center'>
        <div ng-if='!vm.securityQuestionsLoaded'>
            <form name='form' ng-submit='vm.loadSecurityQuestions(vm.email)' form-blur novalidate>
                <label for='amount'>Please Enter Your Email
                  <input class='form-control' type='email' placeholder='Email' ng-model='vm.email' required/>
                </label>
                <div>
                    <button class='btn btn-primary' ng-disabled='form.$invalid' type='submit'>Continue</button>
                </div>
            </form>
        </div>
        <div ng-if='vm.securityQuestionsLoaded'>
            <div>
                <p>Security Question One: {{ vm.securityQuestions.security_question_one }}</p>
                <input class='form-control' type='text' placeholder='Security Answer One' ng-model='vm.securityAnswerOne' />
                <p>Security Question Two: {{ vm.securityQuestions.security_question_two }}</p>
                <input class='form-control' type='text' placeholder='Security Answer Two' ng-model='vm.securityAnswerTwo' />
                <br><br>
                <div>
                    <button class='btn btn-primary' 
                            ng-click='vm.submitAnswers()' 
                            ng-disabled='vm.forgotPasswordSubmitDisabled()' 
                            type='button'>Submit Answers</button>
                </div>
            </div>
        </div>
    </div>
</div>