@import '../../sass/utils/variables';
@import '../../sass/utils/extendables';

.posts-container {
    margin-top: 20px;

    .panel-heading {
        background: $purple;
        padding: 5px;

        h1 {
            color: white;
            margin: 0;
        }

        time {
            color: $sky;
        }
    }

    img {
        height: 300px;
    }
}

.search-panel {
    margin: 5px auto 0;
    width: 70%;

    .fa-search {
        font-size: 2em;
    }

    .panel-body {
        background: $dark;
        padding: 5px 0;

        h1 {
            color: $sky;
            margin-right: 10px;
        }

        .form-control {
            margin: 0 auto;
            width: 45%;
            margin-bottom: 10px;
        }
    }
}

.posts-container {
    * {
        text-decoration: none;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 850px) {
    .posts-container {
        img {
            height: 200px;
        }
    }

    .search-panel {
        .panel-body {
            h1 {
                display: block !important;
            }

            .form-control {
                width: 90%;
                display: block !important;
            }
        }
    }
}
