@import '../../sass/utils/variables';
@import '../../sass/utils/extendables';
.posts-container {
    @extend #panel-mixin;
    p {
        font-size: 1.2em;
    }
    iframe {
        width: 70%;
        height: 400px;
    }
    h1,
    time {
        margin-bottom: 7px !important;
    }
    time {
        color: white;
    }
    .post-like-container {
        button {
            background: none;
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
            span {
                color: $skyT;
            }
            p {
                color: white;
            }
            &:hover {
                span {
                    color: white;
                }
                p {
                    color: $skyT;
                }
            }
        }
    }
}

.search-panel {
    margin: 5px auto 0;
    width: 70%;
    border: none;
    .fa-search {
        font-size: 2em;
    }
    .panel-body {
        padding: 5px 0;
        h1 {
            color: $dark;
            margin-right: 10px;
        }
        .form-control {
            margin: 0 auto;
            width: 45%;
            margin-bottom: 10px;
        }
        .search-select {
            width: 20%;
        }
    }
}

.posts-container {
    * {
        text-decoration: none;
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
    img {
        max-height: 300px;
        max-width: 400px !important;
        width: 400px !important;
    }
}

@media screen and (max-width: 1400px) {
    .posts-container {
        img {
            max-height: 200px;
            max-width: 80% !important;
        }
        .post-repeater {
            display: block !important;
            width: 90% !important;
        }
    }
    .search-panel {
        .panel-body {
            h1 {
                display: block !important;
            }
            .form-control {
                width: 90%;
                display: block !important;
            }
        }
    }
}