<div class='panel panel-default search-panel'>
    <div class='panel-body text-center'>
        <h1 class='fa fa-search inline'></h1>
        <input class='form-control inline' type='text' placeholder='Search' ng-model='vm.searchPosts'>
        <select class='form-control inline' id='order' ng-model='vm.postOrder' ng-init='vm.postOrder = "-post_created_at"'>
            <option value='-post_created_at'>Newest to Oldest</option>
            <option value='post_created_at'>Oldest to Newest</option>
        </select>
    </div>
</div>

<div class='container-fluid posts-container'>
    <div class='row-fluid'>

        <div class='col-lg-4' dir-paginate='post in vm.posts | filter: vm.searchPosts | orderBy: vm.postOrder | itemsPerPage: 9' pagination-id='postsPaginate'>
            <a ng-href='/posts/{{post.id}}'>
                <div class='item'>
                    <div class='content'>
                        <div class='panel panel-default post-repeat-panel'>
                            <div class='panel-heading text-center'>
                                <h1 ng-bind='post.title'></h1>
                                <time title='{{ post.post_created_at | amDateFormat: "dddd, MMMM Do YYYY, h:mm a" }}'>
                                    {{ post.post_created_at | amCalendar }}
                                </time>
                                <div class='text-center post-like-container'>
                                    <button class='btn' ng-click='vm.like(post, $event)'>
                                        <span class='glyphicon glyphicon-thumbs-up inline'></span>
                                        <p class='inline' ng-bind='post.likes'></p>
                                    </button>
                                </div>
                            </div>
                            <div class='panel-body text-center'>
                                <img ng-src='{{post.thumbnail_url}}'>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<dir-pagination-controls pagination-id='postsPaginate'></dir-pagination-controls>
