@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Titillium Web', sans-serif;
}

.block {
    display: block;
}

embed,
img,
object,
video {
    max-width: 100%;
    height: auto;
}

.route-loader {
    margin-top: 300px;
}

.loading-text {
    color: $purple;
    font-size: 2em;
}

.inline {
    display: inline-block !important;
}

.loader,
.loader:after,
.loader:before {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #6666ff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after,
.loader:before {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    100%,
    80% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    100%,
    80% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.route-loader-animated,
.route-loader-animated:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.route-loader-animated {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(102,102,255, 0.2);
    border-right: 1.1em solid rgba(102,102,255, 0.2);
    border-bottom: 1.1em solid rgba(102,102,255, 0.2);
    border-left: 1.1em solid #6666ff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
