<div class='panel panel-default modal-panel'>
    <div class='panel-heading text-center'>
        <h1>Update Email</h1>
        <button ng-click='vm.closeModal()'>
            <i class='fa fa-close'></i>
        </button>
    </div>
    <div class='panel-body text-center'>
        <form form-blur ng-submit='vm.updateEmail()' novalidate='novalidate'>
            <div class='email-update-form text-center'>
                <ng-form name='emailUpdateForm'>
                    <div class='input-container'>
                        <div class='form-group'>
                            <label for='email' class='block'>Update Email</label>
                            <ng-messages class='block text-danger' for='emailUpdateForm.email.$error' ng-show='emailUpdateForm.email.$dirty'>
                                <ng-message when='required'>
                                    Cannot be blank
                                </ng-message>
                                <ng-message when='pattern'>
                                    Please enter a valid email(cannot be capitalized)
                                </ng-message>
                            </ng-messages>
                            <input
                            type='email'
                            class='form-control inline'
                            placeholder='{{vm.user.email}}'
                            name='email'
                            ng-model='vm.newEmail'
                            ng-pattern='/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/'
                            required/>
                            <button class='btn btn-primary inline' type='submit' ng-disabled='emailUpdateForm.$invalid'>
                                Update
                            </button>
                        </div>
                    </div>
                </ng-form>
            </div>
        </form>
    </div>
</div>
