@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.create-post-panel {
    border: none;
    box-shadow: none;

    .panel-heading {
        background: $dark;

        .post-component-btn {
            background: $purple;
            color: $sky;
            margin: 5px;

            &:hover {
                background: white;
                color: $purple;
            }
        }

        .post-submit-btn {
            background: white;
            color: $green;
            margin: 5px;

            &:hover {
                background: $green;
                color: white;
            }
        }

        .post-preview-btn {
            background: white;
            color: $purple;
            margin: 5px;

            &:hover {
                background: $purple;
                color: white;
            }
        }

        .post-tips-btn {
            background: white;
            color: $purple;
            margin: 5px;

            &:hover {
                background: $purple;
                color: white;
            }
        }
    }
}

.post-component-panel {
    width: 60%;
    margin: 0 auto 10px;

    .panel-heading {
        background: $dark;
        padding: 5px;

        h1 {
            color: $sky;
            margin: 0;
        }

        i {
            color: $red;
        }

        button {
            background: $dark;
            color: $sky;
            margin: 5px;
        }

        label {
            color: white;
            display: block;
        }

        select {
            width: 25%;
            text-align: center;
        }

        iframe,
        img {
            margin: 0 auto;
        }
    }

    .panel-body {
        input,
        textarea {
            width: 80%;
            max-width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

.post-panel {
    @extend .post-component-panel;
    margin-top: 10px;
    width: 90%;

    iframe,
    img {
        margin: 0 auto 10px;
    }

    p {
        font-size: 1.2em;
    }

    iframe {
        width: 70%;
        height: 400px;
    }
}

#thumbnail {
    height: 200px;
    max-width: 200px;
}
@media screen and (max-width: 850px) {
    .post-component-panel {
        width: 90%;

        .panel-heading {
            select {
                width: 50%;
            }
        }

        iframe {
            width: 90%;
            height: 300px;
        }
    }
}
