@import '../../sass/utils/variables';
@import '../../sass/utils/extendables';

.create-post-panel {
    border: none;
    box-shadow: none;
    margin: 0 auto;

    .panel-heading {
        background: $dark;
        margin: 0 auto;

        .post-component-btn {
            background: $purple;
            color: $sky;
            margin: 5px;

            &:hover {
                background: white;
                color: $purple;
            }
        }

        .post-submit-btn {
            background: white;
            color: $green;
            margin: 5px;

            &:hover {
                background: $green;
                color: white;
            }
        }

        .post-preview-btn {
            background: white;
            color: $purple;
            margin: 5px;

            &:hover {
                background: $purple;
                color: white;
            }
        }

        .post-tips-btn {
            background: white;
            color: $purple;
            margin: 5px;

            &:hover {
                background: $purple;
                color: white;
            }
        }
    }
}

.post-component-panel {
    @extend #panel-mixin;
    width: 90%;
    margin-top: 10px;
    margin: 0 auto;
}

.post-panel {
    @extend #panel-mixin;
    margin-top: 10px;
    margin: 0 auto;
    width: 90%;

    iframe,
    img {
        margin: 0 auto 10px;
        height: 300px;
    }

    p {
        font-size: 1.2em;
    }

    iframe {
        width: 70%;
        height: 400px;
    }
}

.post-thumbnail-panel {
    @extend .post-component-panel;
    margin-top: 10px;
    width: 90%;

    img {
        height: 300px;
    }
}
@media screen and (max-width: 850px) {
    .post-component-panel {
        width: 90%;

        .panel-heading {
            select {
                width: 50%;
            }
        }
    }

    .post-panel,
    .post-thumbnail-panel {
        iframe,
        img {
            width: 90%;
            height: 200px;
        }
    }
}
