@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.create-post-panel {
    border: none;
    box-shadow: none;

    .panel-heading {
        background: $dark;

        button {
            background: $purple;
            color: $sky;
            margin: 5px;
        }
    }
}

.post-component-panel {
    width: 60%;
    margin: 0 auto;

    .panel-heading {
        background: $dark;

        h1 {
            color: $sky;
        }

        i {
            color: $red;
        }

        button {
            background: $dark;
            color: $sky;
            margin: 5px;
        }

        label {
            color: white;
            display: block;
        }

        select {
            width: 25%;
            text-align: center;
        }
    }

    .panel-body {
        input,
        textarea {
            width: 80%;
            display: block;
            margin: 0 auto;
        }

        textarea {
            resize: none;
        }
    }
}
@media screen and (max-width: 850px) {
    .post-component-panel {
        width: 90%;

        .panel-heading {
            select {
                width: 50%;
            }
        }
    }
}
