<div class='panel panel-default create-post-panel'>
    <div class='panel-heading text-center'>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("header")' blur>
            Header
        </button>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("text")' blur>
            Text
        </button>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("link")' blur>
            Link
        </button>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("image")' blur>
            Image
        </button>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("googleDriveImage")' blur>
            Google Drive Image
        </button>
        <button type='button' class='btn btn-lg post-component-btn' ng-click='vm.addPostComponent("iframe")' blur>
            Video
        </button>
        <button ng-if='!vm.showTips' type='button' class='btn btn-lg post-tips-btn' ng-click='vm.showTips = true;vm.previewing = false' blur>
            Tips
        </button>
        <button ng-if='vm.showTips' type='button' class='btn btn-lg post-tips-btn' ng-click='vm.showTips = false' blur>
            Close Tips
        </button>
        <button ng-if='!vm.previewing' type='button' class='btn btn-lg post-preview-btn' ng-click='vm.previewing = true;vm.showTips = false' blur>
            Preview
        </button>
        <button ng-if='vm.previewing' type='button' class='btn btn-lg post-preview-btn' ng-click='vm.previewing = false' blur>
            Close Preview
        </button>
        <button type='button' class='btn btn-lg post-submit-btn' ng-click='vm.openSubmitPostModal()' blur>
            Submit
        </button>
    </div>
    <div ng-if='vm.showTips' class='panel-body'>
        <div class='panel panel-default post-component-panel'>
            <div class='panel-heading text-center'>
                <h1>Tips</h1>
            </div>
            <div class='panel-body'>
                <div class='text-center'>
                    <h2>For adding links into your text</h2>
                    <pre ng-bind='vm.exampleLink'></pre>
                </div>
                <div class='text-center'>
                    <h2>For changing the color of your links(or any HTML text element)</h2>
                    <pre ng-bind='vm.exampleLinkWithColorChange'></pre>
                </div>
                <div class='text-center'>
                    <h2>For adding Google Drive images</h2>
                    <p ng-bind='vm.googleDriveImageTip'></p>
                </div>
                <div class='text-center'>
                    <h2>For adding Youtube videos</h2>
                    <p ng-bind='vm.youtubeVideoTip'></p>
                </div>
            </div>
        </div>
    </div>
    <div ng-if='!vm.previewing' class='panel-body'>
        <div class='panel panel-default post-component-panel'>
            <div class='panel-heading text-center'>
                <h1>Title</h1>
            </div>
            <div class='panel-body'>
                <input type='text' ng-model='vm.post.title'></input>
            </div>
        </div>
        <div class='panel panel-default post-component-panel'>
            <div class='panel-heading text-center'>
                <h1>Thumbnail Image URL</h1>
            </div>
            <div class='panel-body'>
                <input type='text' placeholder='Image URL' ng-model='vm.post.thumbnailWeb'></input>
            </div>
        </div>
        <div class='panel panel-default post-component-panel'>
            <div class='panel-heading text-center'>
                <h1>Google Drive Thumbnail URL</h1>
            </div>
            <div class='panel-body'>
                <input type='text' placeholder='Google Drive Image ID' ng-model='vm.post.thumbnailGoogleDrive'></input>
            </div>
        </div>
        <div ng-repeat='c in vm.post.components'>
            <div compile ng-bind-html='vm.trustHTML(c.template)'></div>
        </div>
    </div>
    <div ng-if='vm.previewing' class='panel-body text-center'>
        <div class='panel panel-default post-thumbnail-panel'>
            <div class='panel-heading text-center'>
                <h1>Thumbnail</h1>
            </div>
            <div class='panel-body'>
                <img ng-src='{{vm.decideThumbnail()}}'>
            </div>
        </div>
        <div ng-bind-html='vm.trustHTML(vm.post.preview)'></div>
    </div>
</div>
