<div class='panel panel-default settings-panel'>
    <div class='panel-heading text-center'>Settings</div>
    <div class='panel-body'>
        <section class='settings-section text-center'>

            <button class='btn btn-primary inline' ng-click='vm.updateEmail()'>
                Update Email
            </button>

            <button class='btn btn-primary inline' ng-click='vm.updateUsername()'>
                Update Username
            </button>

            <button class='btn btn-primary inline' ng-click='vm.updateSecurityQuestions()'>
                Update Security Questions
            </button>

            <button class='btn btn-primary inline' ng-click='vm.updatePassword()'>
                Update Password
            </button>

        </section>
    </div>
</div>
